  </main>

  <footer class="flex flex-col items-center w-full space-y-3 bg-violet-300">
    <%- include('made_with') %>

    <a href="https://www.themoviedb.org/">
      <img
        class="w-32"
        alt="The Movie Database"
        src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
      >
    </a>

    <p class="px-4 py-2 text-center text-md text-slate-700">
      This product uses the TMDb API but is not endorsed or certified by TMDb.
    </p>
  </footer>

  <script src="/made-with/made-with.js"></script>
</body>

</html>
