<div
  x-data="{
    confetti: function () {
      const jsConfetti = new JSConfetti()

      jsConfetti.addConfetti({
        emojis: ['ðŸ’€', 'ðŸ', 'ðŸŽƒ', 'ðŸ¦‡', 'ðŸ§›', 'ðŸ”®', 'ðŸ‘»', 'ðŸ§™'],
      })
    }
  }"
  class="hidden"
  x-on:fire-confetti.window="confetti()"
></div>
