  </main>

  <footer class="flex flex-col items-center my-10 space-y-3">
    <a href="https://www.themoviedb.org/">
      <img
        class="w-32"
        alt="The Movie Database"
        src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
      >
    </a>

    <p class="text-md text-slate-400">
      This product uses the TMDb API but is not endorsed or certified by TMDb.
    </p>
  </footer>
</body>

</html>
