<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Thursday Night Movie Club</title>

  <link rel="stylesheet" href="/public/app.css">

  <link rel="icon" href="https://fav.farm/🎥" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="flex flex-col items-center bg-slate-100">
  <main class="flex flex-col justify-center w-full align-middle bg-slate-100">

  <%- include('navbar') %>
