<nav class="flex justify-center h-12 bg-violet-200">
  <div class="flex items-center w-full h-full max-w-4xl">
    <%- include('navbar/button', { text: 'Upcoming', route: '/' }) %>

    <%- include('navbar/button', { text: 'Previous', route: '/previous' }) %>
  </div>
</nav>
