<h3 class="flex flex-col mt-10 mb-5">
  <span class="text-lg font-light text-violet-700">
    <%= week.displayDate() %>
  </span>

  <span class="text-3xl font-semibold">
    <%= week.theme %>
  </span>
</h3>

<div class="mt-2 space-y-4 sm:space-y-0 sm:flex sm:space-x-2 md:space-x-4">
  <%- include('movie', {movie: week.movie1}); %>

  <%- include('movie', {movie: week.movie2}); %>
</div>
