<div>
  <h3 class="flex flex-col mt-10 mb-5">
    <span
      class="text-lg font-light text-violet-700"
      x-text="week.date"
    ></span>

    <span
      class="text-3xl font-semibold"
      x-text="weekTitle(week)"
    ></span>
  </h3>

  <template x-if="week.isSkipped">
    <%- include('skipped_banner') %>
  </template>

  <template x-if="!week.isSkipped">
    <%- include('movies') %>
  </template>
</div>
