<div class="flex flex-col items-center mt-10 mb-5">
  <div class="w-full max-w-4xl px-4">
    <h3 class="flex flex-col">
      <span
        class="text-lg font-light text-violet-700"
        x-text="week.date"
      ></span>

      <span
        class="text-3xl font-semibold"
        x-text="weekTitle(week)"
      ></span>
    </h3>
  </div>

  <template x-if="week.isSkipped">
    <%- include('skipped_banner') %>
  </template>

  <template x-if="!week.isSkipped">
    <%- include('movies') %>
  </template>
</div>
