<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thursday Night Movie Club</title>

  <link rel="stylesheet" href="/public/app.css">
</head>
<body class="prose p-4">
  <h1 class="flex flex-col items-center">
    <span class="text-xl text-slate-600">
      Wowell World Studios Presents
    </span>
    <span class="text-3xl">
      Thursday Night Movie Club
    </span>
  </h1>

  <h2 class="text-violet-600">
    You’re invited!
  </h2>

  <p>
    For every week that we are in town, we are opening Wowell World Studios to you to enjoy an evening of laughs, tears, screams, and likely many groans. Every Thursday, starting ~5:30 PM, we’re gonna be watching movies. First, we’ll show something campy, weird, and likely Not Good Cinema. And then, it’s on to the main attraction, which will range from high brow to low brow and anything in between. You are welcome to arrive during the first movie at any point, but just as Hitchcock would intend, once the movie has started we gotta be butts in seats and lights out! Just kidding - but please be kind, rewind, and try to arrive on time.
  </p>

  <p class="text-violet-600">
    To RSVP, just accept the calendar invite for that week! If you don’t use something compatible with Google Calendar… who are you?
  </p>

  <p>
    From time to time, we’ll have some field trips to special showings at theaters in our neighborhood. We are in one of the best spots in the city for movie lovers, with The Music Box Theatre and Alamo Drafthouse/Video Vortex within walking distance. And there’s food over this way!
  </p>


  <h2>Now Playing: <%= week.theme %></h1>

  <%- include('components/movie', {movie: movie1}); %>

  <%- include('components/movie', {movie: movie2}); %>
</body>
</html>
