<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Thursday Night Movie Club</title>

  <link rel="stylesheet" href="/made-with/made-with.css">

  <link rel="icon" href="https://fav.farm/🎥" />
  <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
</head>
  <body>
    <div id="app"></div>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.ts"></script>
    <script src="/made-with/made-with.js"></script>
  </body>
</html>
