<a
  href="<%= route %>"
  class="h-full py-2 px-4 font-medium flex flex-col justify-center grow sm:grow-0 <%= route === path
      ? 'text-white bg-violet-600'
      : 'text-gray-800 hover:bg-violet-300'
    %>"
>
  <%= text %>
</a>
