<%- include('../partials/header') %>

<div class="mt-10">
  <%- include('../partials/weeks', {
    fetchUrl: '/api/weeks?past=true',
    showRSVP: false,
    sectionTitles: { 0: 'Past Releases' },
  }); %>
</div>

<%- include('../partials/footer') %>
