<%- include('../partials/header') %>

<div class="flex flex-col items-center w-full">
  <h1 class="text-3xl text-center">
    Past Releases
  </h1>
</div>

<%- include('../partials/weeks', {
  fetchUrl: '/api/weeks?past=true',
  sectionTitles: { 0: 'Past Releases' },
}); %>

<%- include('../partials/footer') %>
