name: Quality Check PR
on:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    branches:
    - main

concurrency:
  group: qc-check-app-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: .nvmrc

    - name: Install Dependencies
      run: npm ci --ignore-scripts

    - name: Run Lint
      run: npm run lint

  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: .nvmrc

    - name: Install Dependencies
      run: npm ci

    - name: Run Tests
      run: npm test

  types:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: .nvmrc

    - name: Install Dependencies
      run: npm ci

    - name: Test Types
      run: npm run types
